<!DOCTYPE html>
<html ng-app="toDo">
  <head>
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

  </head>
  <body>
    <div ng-controller="toDoCtrl">
      <form>
        <input type="text" placeholder="Task" ng-model="newTask">
        <input type="date" ng-model="newDueDate">
        <input type="submit" ng-click="createToDo()" value="Create ToDo">
      </form>

      <button ng-click="clearCompleted()">Clear Completed</button>
      <button ng-click="toggleComplete()">{{toggleStatus}}</button>

      <table>
        <tr todo-item ng-repeat="item in items" ng-show="!item.completed || item.completed && showCompleted" item="item" delete-todo="deleteTodo(item)">
        </tr>
      </table>
    </div>
    <script src="../js/app.js"></script>
    <script src="../js/controllers/toDoController.js"></script>
    <script src="../js/directives/todoItem.js"></script>
  </body>
</html>
